{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}
.left {
  background-color:#2196F3;
  padding:20px;
  float:left;
  width:20%;/*The width is 20%, by default*/
}
.main {
  background-color:#f1f1f1;
  padding:20px;
  float:left;
  width:60%;/*The width is 60%, by default*/
}
.right {
  background-color:#4CAF50;
  padding:20px;
  float:left;
  width:20%;/*The width is 20%, by default*/
}

/*Use a media query to add a break point at 800px:*/
@media (max-width:800px) {
  .left, .main, .right {
    width:100%;/*The width is 100%, when the viewport is 800px or smaller*/
  }
}
</style>
<div class="left">
Don't have an account?<br>
Connect with RSC community by signing up for free.<br>
To create a new account click on SignUp button.<br>
<br>
<br>
<br>

<div>
  <a href="{% url 'certifiedapp:signup' %}" class="btn">
  <button>SignUp</button>
  </a>
</div>
</div>

<div class="main">


  <h2>Login</h2>
  <form method="post" class="form-signin">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    <a href="{% url 'certifiedapp:forgot_password' %}" class="btn">
    Forgot Password?</a>
  </form>
</div>


{% endblock %}
