{% extends 'base.html' %}

{% block content %}
<div class="container">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}
.left {
  background-color:#2196F3;
  padding:20px;
  float:left;
  width:20%;/*The width is 20%, by default*/
}
.main {
  background-color:#f1f1f1;
  padding:20px;
  float:left;
  width:60%;/*The width is 60%, by default*/
}
.right {
  background-color:#4CAF50;
  padding:20px;
  float:left;
  width:20%;/*The width is 20%, by default*/
}

.helptext {
    font-size: 12px !important;
    color: #999;
}
/*Use a media query to add a break point at 800px:*/
@media (max-width:800px) {
  .left, .main, .right {
    width:100%;/*The width is 100%, when the viewport is 800px or smaller*/
  }
}
</style>
<div class="left">

<div>
<p> Click Back to login page</p>
<br>
<br>
<br>
  <a href="{% url 'login' %}" class="btn">
  <button>Back</button>
  </a>

</div>
</div>

<div class="main">
  <h2>Sign up</h2>
  <form method="post" action="{% url 'certifiedapp:signup' %}">
    {% csrf_token %}
     <table>
     {{form.as_table}}
    </table>
<br>
<br>

    <button type="submit">Sign up</button>
  </form>

</div>
</div>
{% endblock %}
