{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}
.left {
  background-color:#2196F3;
  padding:20px;
  float:left;
  width:20%;/*The width is 20%, by default*/
}
.main {
  background-color:#f1f1f1;
  padding:20px;
  float:left;
  width:60%;/*The width is 60%, by default*/
}
.right {
  background-color:#4CAF50;
  padding:20px;
  float:left;
  width:20%;/*The width is 20%, by default*/
}

/*Use a media query to add a break point at 800px:*/
@media (max-width:800px) {
  .left, .main, .right {
    width:100%;/*The width is 100%, when the viewport is 800px or smaller*/
  }
}
</style>
<div class="left">
<font color="white">
Don't have an account?<br>
Connect with RSC community by signing up for free.<br>
To create a new account click on SignUp button.<br>
</font>
<br>
<br>
<br>

<div>
  <a href="{% url 'certifiedapp:signup' %}" class="btn">
  <button>SignUp</button>
  </a>
</div>
</div>

<div class="main">


  <h2>Login</h2>
  <form method="post" class="form-signin">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    <a href="{% url 'certifiedapp:forgot_password' %}" class="btn">
    Forgot Password?</a>
  </form>
</div>

</div>
<br>
<hr><br>
<h2><b>Sprint Details</b></h2>
<table border=1 width=50%>
<tr>
  <th><center>Number</center></th><td>&nbsp;&nbsp;&nbsp;4</td>
</tr>
<tr>
  <th><center>Duration</center></th><td>&nbsp;&nbsp;&nbsp;27-1-2018 to 5-2-2018</td>
</tr>
<tr>
  <th><center>Tasks List</center></th>
  <td>
     <ul>
        <li>
        Need to change Certification Home Page to Home page in the below link
        </li>
        <li>
        Change password page design should change
        </li>
        <li>
        Change text of blue colour box should be font colour white
        </li>
        <li>
        Article links should open in another tab with bootstrap icon from
        </li>
        <li>
        Update the dashboard contain
        </li>
        <li>
        Timer Logout
        </li>
     </ul>
  </td>
</tr>
</table>
<hr>
<h2><b>Article</b></h2>
<ul>
  <li><b>Applications for Python</b>
      <ul>
        <li>Python is used in many application domains. Here's a sampling.</li>
        <li>The <a href="https://pypi.python.org/pypi">Python Package Index lists</a> thousands of third party modules for Python.</li>
      </ul>
  </li>
  <li><b>Web and Internet Development</b>
      <ul>
        <li>Python offers many choices for <a href="https://wiki.python.org/moin/WebProgramming">web development</a>
            <ul>
              <li>Frameworks such as <a href="https://www.djangoproject.com/">Django</a> and Pyramid.</li>
              <li>Micro-frameworks such as Flask and Bottle.</li>
              <li>Advanced content management systems such as Plone and django CMS.</li>

            </ul>
        </li>
      </ul>
   </li>


</ul>

{% endblock %}
