{% extends 'base.html' %}

{% block content %}

<div class="container">
            <div id="passwordreset" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Change Password</div>
                    </div>                     
                    <div class="panel-body">
 <form method="post" action="{% url 'certifiedapp:change_password' %}">
    {% csrf_token %}

                            <div class="form-group">
                                <div class="col-sm-9">
    {% for i in form %}
      <b>{{i.label}}:</b>
       {{i}}<br>
    {%endfor%}
                                
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Button -->                                 
                                <div class="  col-sm-offset-3 col-sm-9">
                                    <button id="btn-signup" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>                             
                        </form>
                    </div>
                </div>
            </div>             
        </div>

<br>
<br>
  <a href="{% url 'login' %}" class="btn">
  <button>Back</button>
  </a>

</div>
</div>

{% endblock %}
