{% extends 'base.html' %}


{% block content %}
<div class="container">

<h3>Username: <b>{{ request.user }}</b></h3>
    <p>
        Admin dashbord
    </p>
    <ul>
        <li>
            <div class="well">
                <a href="{% url 'subjectapp:subjectlist' %}">View all subjects </a>
            </div>
        </li>
        <li>
            <div class="well">
                <a href="{% url 'subjectapp:paperslist' %}">View all paper types </a>
            </div>
        </li>
        <li>
            <div class="well">
                <a href="{% url 'subjectapp:questionlist' %}">View all Questions & Answers</a>
            </div>
        </li>


        <li>
            <div class="well">
                <a href="">View Results</a>
            </div>
        </li>
    </ul>
</div>

{% endblock %}