{% block content %}
{%include 'header.html'%}
   <h2>Hi, Welcome {{request.user}}</h2>


<div class="container">

    <form action="{% url 'certifiedapp:student_test_submit' %}" method="POST" >

  <h2>Student Free TEST</h2>
     <input type="text" value="0" id="finalmarks" name="totalmarks" hidden>
     <button class="btn btn-danger" type="submit" onclick="submitTest()" value="Submit Test" style="font-weight: bolder">Submit Test</button>
  <div class="panel panel-default">
    <div class="panel-body">
        <div class="table">
            <table class="table">
                {% csrf_token %}
                {% for que in stu_questions %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                       <b>QUESTION:-</b> {{ que.question_name }} <br>
                        <div class="well well-sm"><input type="radio"  value="1" name="option{{forloop.counter}}" id="{{forloop.counter}}A">{{ que.option1 }}</div>
                        <div class="well well-sm"><input type="radio" value='2' name="option{{forloop.counter}}" id="{{forloop.counter}}B">{{ que.option2 }}</div>
                        <div class="well well-sm"><input type="radio" value="3" name="option{{forloop.counter}}" id="{{forloop.counter}}C">{{ que.option3 }}</div>
                        <div class="well well-sm"><input type="radio" value="4" name="option{{forloop.counter}}" id="{{forloop.counter}}D">{{ que.option4 }}</div>
                        <div class="well">
                             <input type="radio" value="{{ que.answer }}" id="{{forloop.counter}}ANSWER" hidden> {{ que.answer }}
                        </div>
                    </td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
  </div>
    </form>
</div>


<script>

                function submitTest() {
                alert('submit test');
                var marks = 0;
                var x = 3;
                for (var i = 1; i < x + 1; i++) {
                    if (document.getElementById(i + "A").checked) {
                        if (document.getElementById(i + "A").value == document.getElementById(i + "ANSWER").value)
                            marks++;
                    }
                    else if (document.getElementById(i + "B").checked) {
                        if (document.getElementById(i + "B").value == document.getElementById(i + "ANSWER").value)
                            marks++;
                    }
                    else if (document.getElementById(i + "C").checked) {
                        if (document.getElementById(i + "C").value == document.getElementById(i + "ANSWER").value)
                            marks++;
                    }
                    else if (document.getElementById(i + "D").checked) {
                        if (document.getElementById(i + "D").value == document.getElementById(i + "ANSWER").value)
                            marks++;
                    }
                    else { }
                }
                // alert("Your Score - " + marks);
                document.getElementById('finalmarks').value = marks;
                alert("Your Score is - " + marks);
                $("#formid").submit();
            }
        // Marks calculations Ends

</script>

{%include 'footer.html'%}
{%include 'script_style.html'%}
{% endblock %}