{% extends 'base.html' %}


{% block content %}

{%include 'submenu.html'%}
<div class="container">

<h3>Hi, <b>{{ request.user }}</b>. Welcome to Take_Test.</h3>
    </div>

{%include 'leftmenu.html'%}
<!-- Page Content -->
<div style="margin-left:25%">

<div class="w3-container w3-teal">
  <h1>Let Predict</h1>
</div>


{% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
{% endfor %}
<form action="{% url 'certifiedapp:upload_csv' %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
{% csrf_token %}
<div class="form-group">
    <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
    <div class="col-md-8">
        <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
    </div>                    
</div>
<div class="form-group">                    
    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
         <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
    </div> 
</div>
</form>




<div class="w3-container">

<hr>
Working Examples:
<hr>


1)Numpy example :
<br>{{example1}}

<br>

<br>
2) Matplotlib example:
<br>

<a href="/charts/simple.png" class="w3-bar-item w3-button">Simple chart</a></div>

</div>

	



{% endblock %}
