{% extends 'base.html' %}


{% block content %}

{% include 'submenu.html'%}
<div class="container">
<h3>Hi, <b>{{ request.user }}</b>. Welcome to Dashboard.</h3>
{% include 'leftmenu.html'%}
	</div>


<!-- Page Content -->
<div style="margin-left:25%">

<div class="w3-container w3-teal">
  <h1> Home Page</h1>
</div>


<div class="w3-container">
    <p>->Blog: Redsuncube</p>
    <p>->Demo server: RSC Bug Track & Predict Dataset</p>
    <br>
<h2>Only for Developer</h2>
<p><a style="text-decoration:underline;color:blue;"href="www.redsuncube.com"> www.redsuncube.com </a> for Redsuncube link</p>
    <p><a  style="text-decoration:underline;color:blue;" href="www.rscbugtrack.pythonanywhere.com">www.rscbugtrack.pythonanywhere.com</a> for RSC Bug Track & predict Dataset link</p>
</div>

</div>

	


{% endblock %}
