{% extends "base.html" %}

{% block containers %}
<div class="index-bleed">
<div class="container">
    <div class="row">
    <div class="col-sm-12">
        <div>
<h2>
About Us
</h2>
Yet to come


 is a global leader in technology services and consulting. We enable clients in 45 countries to create and execute strategies for their digital transformation. From engineering to application development, knowledge management and business process management, we help our clients find the right problems to solve, and to solve these effectively. Our team of 200,000+ innovators, across the globe, is differentiated by the imagination, knowledge and experience, across industries and technologies that we bring to every project we undertake.

Learn more about how Infosys is helping clients look ahead
Learn more about industry solutions from Infosys
Learn more about services from Infosys
Learn more about products from Infosys
Learn more about how Infosys innovates

<h2>
The Infosys Story
</h2>

In 1981, seven engineers started Infosys Limited with just US$250. From the beginning, the company was founded on the principle of building and implementing great ideas that drive progress for clients and enhance lives through enterprise solutions. For over three decades, we have been a company focused on bringing to life great ideas and enterprise solutions that drive progress for our clients.

We recognize the importance of nurturing relationships that reflect our culture of unwavering ethics and mutual respect. It’ll come as no surprise, then, that 98.3 percent (Q3 FY 18) of our revenues come from existing clients.

Infosys has a growing global presence with more than 200,000+ employees. Globally, we have 84 sales and marketing offices and 116 development centers as on March 31, 2017.

At Infosys, we believe our responsibilities extend beyond business. That is why we established the Infosys Foundation – to provide assistance to some of the more socially and economically depressed sectors of the communities in which we work. And that is why we behave ethically and honestly in all our interactions – with our clients, our partners and our employees.
        </div>
        
        </div>
 </div>
    </div>
</div>
{% endblock %}
