{% extends "base.html" %}

{% block containers %}
<div class="index-bleed">
<div class="container">
    <div class="row">
    <div class="col-sm-12">
        <div>

<h2>
The RSC Story
</h2>
<p>
In 2005, blog(ie., python4u.blogspot.com) is maintain to develop the application with python. Later in 2011, the ERP5 support concepts are included in the blog for CUSAT ie., Cochin University of Science and Technology with Zope frameworkand python, the blog moved as new name(ie., ERP5solution.blogspot.com). Finally, our blog  are moved to domain with name ie., Redsuncube(www.redsuncube.com) in 2012.</p><p> Initially it is maintain as a support documentation for supporting engineer in N-infosoft. Current it is open to all those who are eager to build there carrier in python and support framework like django.
</p>
<h2>
RSC Goals:
</h2>
<ul>
<li>Implment Datascinece concept as free and do to dataset predict report in free</li>
<li>To provide certification for python and django</li>
</ul>
        </div>
        
        </div>
 </div>
    </div>
</div>
{% endblock %}
