{% extends "base.html" %} 
{% block containers %}
{% load compress staticfiles %}

<link rel="stylesheet" href="{% static 'css/about_us.css' %}" type="text/css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="services-section black-trans-bg">
        <div class="services-section-banner"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-4 col-sm-12 col-xs-12">
                    <div class="services-head">
                        <h2 class="services-title">About Us</h2>
                        <span class="services-title-border"></span>
                        <p class="services-text">
                            In 2005, blog(ie., python4u.blogspot.com) is maintain to develop the application with python. 
                            Later in 2011, the ERP5 support concepts are included in the blog for CUSAT ie., Cochin University of Science and Technology with Zope frameworkand python, 
                            the blog moved as new name(ie., ERP5solution.blogspot.com). Finally, our blog are moved to domain with name ie., Redsuncube(www.redsuncube.com) in 2012.
                        </p>
                        <p class="services-text">
                            Initially it is maintain as a support documentation for supporting engineer in N-infosoft. 
                            Current it is open to all those who are eager to build there carrier in python and support framework like django.
                        </p>

                    </div>
                    <div class="services-head">
                        <h2 class="services-title">Our Services</h2>
                        <span class="services-title-border"></span>
                        <p class="services-text">Dramatically maintain clicks and mortar solutions without functional</p>
                    </div>
                    <div class="services-content">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="service-2">
                                    <div class="service-box">
                                        <div class="clearfix">
                                            <div class="iconset">
                                                <span class="glyphicon glyphicon-cog icon"></span>
                                            </div>
                                            <div class="servicesB-content">
                                                <h4>Fuel and Gas Carrier</h4>
                                                <p>Interactively procrastinate high-payoff content without backward compatible data. Quickly cultivate optimal</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-box">
                                        <div class="clearfix">
                                            <div class="iconset">
                                                <span class="glyphicon glyphicon-cog icon"></span>
                                            </div>
                                            <div class="servicesB-content">
                                                <h4>Consumer Goods Packaging</h4>
                                                <p>Interactively procrastinate high-payoff content without backward compatible data. Quickly cultivate optimal</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="service-2">
                                    <div class="service-box">
                                        <div class="clearfix">
                                            <div class="iconset">
                                                <span class="glyphicon glyphicon-cog icon"></span>
                                            </div>
                                            <div class="servicesB-content">
                                                <h4>Goods Tracking Support</h4>
                                                <p>Interactively procrastinate high-payoff content without backward compatible data. Quickly cultivate optimal</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-box">
                                        <div class="clearfix">
                                            <div class="iconset">
                                                <span class="glyphicon glyphicon-cog icon"></span>
                                            </div>
                                            <div class="servicesB-content">
                                                <h4>Reaching Large Destinations</h4>
                                                <p>Interactively procrastinate high-payoff content without backward compatible data. Quickly cultivate optimal</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}