
<!DOCTYPE html>
<html lang="en">
<head>
    {% load compress staticfiles %}

    <meta charset="utf-8">
    <title>RedSunCube</title>
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    <meta name="description" content="RSC projects.1">
    <meta name="keywords" content="RSC projects.">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nouislider.pips.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/selectize.bootstrap3.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/snippet-copy.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/docs.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/docs_cron.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/my_checks.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/my_checks_mobile.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/my_checks_desktop.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/pricing.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/syntax.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/channels.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/channel_checks.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/log.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/add_pushover.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/last_ping.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/checkbox.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/radio.css' %}" type="text/css">
    {% endcompress %}
</head>
<body class="page-{{ page }}">
    <nav class="navbar navbar-default">
        <div class="container">
        <div class="navbar-header">
            <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
                href=""
                title="">

                <img
                    id="logo"
                    height="50"
                    width="200"
                    src="{% static 'img/logo-full.png'%}"
                    srcset="{% static 'img/logo-full.png' %} 1x, {% static 'img/logo-full@2x.png' %} 2x"
                    alt="RSC">
            </a>

             <a class="navbar-brand" href="" title="">Home</a>
            <a class="navbar-brand" href="" title="">About Us</a>
            <a class="navbar-brand" href="{% url 'rscbugtrack' %}" title="">BugTrack</a>
            <a class="navbar-brand" href="" title="">Certification</a>
            <a class="navbar-brand" href="" title="">Tools</a>
            <a class="navbar-brand" href="" title="">Contact Us</a>

        </div>


        </div>
    </nav>

    {% block containers %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}

    <footer class="footer">
           <center>
              RedSunCube Technologies Pvt Ltd. &copy; 2017-2018 </center>
    </footer>


    {% block scripts %}
    {% compress js %}
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endcompress %}
    {% endblock %}


</body>
</html>
