<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<footer>
         <p style="color:#0a93a6;text-decoration:none;">© 2018<a href="#"> redsuncube india </a>, All rights reserved 2018-2019.<br>
    <img src="https://www.reliablecounter.com/count.php?page=redsuncube.com8839706&digit=style/plain/33/&reloads=1" alt="" title="" border="0">

         </p>


   </footer>

           <p align="right">     <img src="https://s11.flagcounter.com/count2/w6S1/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0">
</p>

    <style>
        /* Footer */

footer{
   background-color: #102c58;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    text-align: center;
    color: #CCC;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}
    </style>

