{% extends "base.html" %}


{% block containers %}
<div class="index-bleed">
<div class="container">
    <div class="row">
    <div class="col-sm-12">
        <div>
          <form id="forgot_password" action="" method="post">
            <h1>Reset your password<br></h1>
            Forgot your password? Enter the e-mail address you used to create your account. <br>
            We'll e-mail you a link to a page where you can easily create a new password.<br>
            All Fields Required<br><br>
            <fieldset>
              <input placeholder="Your Email Address" type="email" tabindex="2" required>
            </fieldset>
            <fieldset><br>
              <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">RESET PASSWORD</button>
            </fieldset>
          </form>
        </div>

        </div>
 </div>
    </div>
</div>
<div>
&nbsp&nbsp &nbspREDSUNCUBE is committed to protecting your information security. Redsuncube will not share your information with any third party, except as needed to manage the events or features for which you register.
<div>
{% endblock %}

