{% extends 'base.html' %}
{% block content %}

<div class="container-fluid column-starter">
	<!------------ Panel Class ------------->
    <div class="margin-t-20"></div>
	<div class="row">
	    <div class="col-md-3 sidebar">
	        <div class="panel">
    	       <div class="panel-body ">
                <div class="sidebar-nav">
                 <div class="sidebar panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="/login" class="" aria-expanded="true">Login <i class="fa fa-angle-down pull-right"></i></a>
                        </h4>
                      </div>

                 </div>
                 <div class="sidebar panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a href="/signup" data-toggle="collapse" href="#sidemenu2"  class="" aria-expanded="true">Signup <i class="fa fa-angle-down pull-right"></i></a>
                        </h4>
                      </div>

                 </div>

                </div>


    	        </div>

	        </div>
	    </div>
	    <div class="col-md-9">
	        <div class="panel">
	       <div class="panel-body">




<div id="forget_pass">
<h3><b>Forgot your passoword ?</b></h3>
<div class="alert alert-warning">
  <strong>Warning!</strong> on't refresh or close this page.
</div>

<div id="wrong" class="alert alert-danger">
  <strong>Wrong code!</strong> Please check the mail and try again.
</div>
Please check the verification code which is send to your register mail id w.r.t Barterkings username.


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
 $(document).bind("contextmenu",function(e){
   return false;
 });
//alert("hi");
$("#div21").hide();
$("#wrong").hide();


 $("#preview").click(function(){
       var opt = {{otp}};
     var opt_conf = $("#opt_confirm").val();
    // alert("i am in");
     if(opt == opt_conf)
     {
         //alert("it is correct");
         $("#div21").show();
         $('#forget_pass').hide();
     }
     else{
         $("#wrong").show();
     }
    });


});
</script>
<table>
<tr><td>Enter your verification code:</td><td><input type=text id='opt_confirm'></td></tr>
<tr><td></td><td><button id='preview'>check</button></td></tr>


</table>
<br><br>
</div>


<div id="div21">
    <h3><b>Enter your new password</b></h3><br>
<div class="alert alert-success">
  <strong>Success!</strong> Your verification code is correct.
</div>
<br>
Please enter you
    <form action="/forget_password_reset/" method="POST">
        {% csrf_token %}
    <input type=hidden name="user_id" value="{{user_id}}">
    <table><tr><td>
    New password<input type=password name="pass">
    <input type=submit></td></tr></table>
    </form>
</div>

	        </div>

	        </div>

	    </div>

	</div>
</div>


{% endblock %}