{% block content %}
{%include 'home_header.html'%}
{% load static %}
<!-- the code add for slider-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div id="form-olvidado">
    <h4 class="">
      Forgot your password?
    </h4>
    <form action="" accept-charset="UTF-8" role="form" id="login-recordar" method="post">
        {% csrf_token %}
      <fieldset>
        <span class="help-block">
          Email address you use to log in to your account
          <br>
          We'll send you an email with instructions to choose a new password.
        </span>
        <div class="form-group input-group">
          <span class="input-group-addon">
            @
          </span>
          <input class="" placeholder="Email" name="name" type="text" required="">
        </div>
        <button type="submit" class="btn btn-primary" >
          Continue
        </button>
        </p>
      </fieldset>
    </form>
  </div>
</div>
	</div>
</div>

{%include 'script_style.html'%}
{%include 'footer_home.html'%}
{% endblock %}
