{%extends "base.html"%}
{%block content%}
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>

<div class="container-fluid">
  <div class="row content">
 <div class="col-sm-9">
     {%for i in blog_page%}

      <hr>
      <h3>{{i.title}}</h3>
      <h5><span class="glyphicon glyphicon-time"></span> {{i.date}}.</h5>
      <h5><span class="label label-success">RSC</span></h5><br>
      <p>{{i.summary}}</p><a href="/blog_id/{{i.id}}/">Read More</a>
      <hr>

      {%endfor%}
    {% if blog_page.has_other_pages %}
  <ul class="pagination">
    {% if blog_page.has_previous %}
      <li><a href="?page={{ blog_page.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in blog_page.paginator.page_range %}
      {% if blog_page.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if blog_page.has_next %}
      <li><a href="?page={{ blog_page.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}




</div>

<div class="col-sm-3 sidenav">
    <i>To do certification pratice click on login</i> <br><a href="/login"><button>Login<span class="glyphicon glyphicon-log-in"></span></button></a>
    <hr><h4><font color=grey><u><i>Latest Post</i></u></font></h4>
      <ul class="nav nav-pills nav-stacked">
        {%for i in blog_obj%}
        <li><a href="/blog_id/{{i.id}}/">{{i.title}}</a></li>
        {%endfor%}
      </ul><br>
<hr>
    <a href="http://www.reliablecounter.com" target="_blank">
        <img src="http://www.reliablecounter.com/count.php?page=redsuncube.com10930430&digit=style/plain/1/&reloads=0" alt="" title="" border="0"></a>
        <br />
<a href="https://info.flagcounter.com/w6S1"><img src="https://s11.flagcounter.com/count2/w6S1/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
<script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=sIqFGXLqWfCpKmmuvMJBLGVsTCh3TgCm_sqpCP6Msgo"></script>
    </div>
  </div>

</div>

{%endblock%}
