{% extends "base.html" %}

{% block containers %}
<div class="index-bleed">
<div class="container">
    <div class="row">
    <div class="col-sm-12">
        <div>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
<table cellpadding="10" border=3>
<tr>
<th>
<img src="">
Name: P Deepak Kumar<br>
Working: NTTDATA <br>
Designation: S/W Development, Senior Analyst.<br>
Email: deepakkumar.py@gmail.com<br>
Contact Number: 9908531889<br>
</th>
<th>
<img src="">
Name: Santhosh<br>
Working:  <br>
Designation: <br>
Contact Number: <br>
</th>

</tr>
</table>
        </div>
        
        </div>
 </div>
    </div>
</div>
{% endblock %}
