{% if request.user %}
<div align="right">
Time left = <span id="timer"></span>
</div>
{%endif%}

<script>
document.getElementById('timer').innerHTML =
  05 + ":" + 00;
startTimer();

function startTimer() {
  var presentTime = document.getElementById('timer').innerHTML;
  var timeArray = presentTime.split(/[:]+/);
  var m = timeArray[0];
  var s = checkSecond((timeArray[1] - 1));
  if(s==59){m=m-1}
  //if(m<0){alert('timer completed')}

  document.getElementById('timer').innerHTML =
    m + ":" + s;
  setTimeout(startTimer, 1000);
}

function checkSecond(sec) {
  if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
  if (sec < 0) {sec = "59"};
  return sec;
}
</script>

<div align="right">
 <a href="/userdashbord"><span class="glyphicon glyphicon-home"></span>Home</a>

||
<font color=red><span class="glyphicon glyphicon-user"></span><font color= blue>{{ request.user }} </font></font>||
<a href="/change_password"><button>Change_Password</button></a>

<a href="/logout"><button>Logout</button></a>
</div>

<hr>



