{%extends "base.html"%}
{%block content%}
{% load compress staticfiles %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{% static 'css/home_need1.css' %}" type="text/css">

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            {%for i in blog_page%}
            <hr>
            <h3>{{i.title}}</h3>
            <h5><span class="glyphicon glyphicon-time"></span> {{i.date}}.</h5>
            <h5><span class="label label-success">RSC</span></h5>
            <br>
            <p>{{i.summary}}</p><a href="/blog_id/{{i.id}}/">Read More</a>
            <hr> {%endfor%} {% if blog_page.has_other_pages %}
            <ul class="pagination">
                {% if blog_page.has_previous %}
                <li><a href="?page={{ blog_page.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %} {% for i in blog_page.paginator.page_range %} {% if blog_page.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                </li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %} {% endfor %} {% if blog_page.has_next %}
                <li><a href="?page={{ blog_page.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}


            <!-- feedback-->
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Recent Comments</h3>

            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for i in comments%}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
                                        {{i.comment}}</a>
                                    <div class="mic-info">
                                        By: <a href="#">{{i.customer_name}}</a> on {{i.date}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    {% endfor %}

                </ul>


<h1>Thanks for your response.</h1>
<p><a href="/home">Home</a></p>


      </div>
        </div>
    </div>
</div>
<style>
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
</style>
            <!-- end of feedback -->





                {{i}}<br>

        </div>

        <div class="col-sm-3 sidenav">
            <i>To do certification practice click on login</i>
            <br>
            <a href="/login">
                <button>Login<span class="glyphicon glyphicon-log-in"></span></button>
            </a>
            <hr>
            <h4><font color=grey><u><i>Latest Post</i></u></font></h4>
            <ul class="nav nav-pills nav-stacked">
                {%for i in blog_obj%}
                <li><a href="/blog_id/{{i.id}}/">{{i.title}}</a></li>
                {%endfor%}
            </ul>
            <br>
            <hr>
            <a href="http://www.reliablecounter.com" target="_blank">
                <img src="http://www.reliablecounter.com/count.php?page=redsuncube.com10930430&digit=style/plain/1/&reloads=0" alt="" title="" border="0"></a>
            <br />
            <a href="https://info.flagcounter.com/w6S1">
                <img src="https://s11.flagcounter.com/count2/w6S1/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0">
            </a>
        </div>
    </div>

</div>
{%endblock%}

