{% extends 'base.html' %}
{% load static %}


{% block containers %}

<div class="container">

    <a href="{% url 'subjectapp:add_subject' %}">ADD Subjects</a>
    <p> list of subjects </p>
    <table class="table">
        <tr>
            <th>Sl no </th>
            <th>Subject name </th>
            <th>Status  </th>
        </tr>
        {% for sub in subjects %}
        <tr>

            <td>{{ forloop.counter }}</td>
            <td>  <a href="{% url 'subjectapp:editsubject' sub.id %}"> {{ sub.subject_name }} </a></td>
            <td>{{ sub.status }}</td>

        </tr>
        {% endfor %}
    </table>


</div>

{% endblock %}